@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Railway');

html, h1, h2, h3, h4, h5, h6, a {
  font-family: "Raleway";
}

/* ****************Навигация***************** */
.navbar {
  background: #004666;
}
.nav-link, .navbar-brand {
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.navbar-collapse {
  justify-content: flex-end;
}
.bg-dark {
  background-color: #343a40 !important;
}
.bg-primary {
  background-color: #343a40 !important;
}

/* ****************начало секции header***************** */
.header {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header1 {
  background-image: url('../img/fon.jpg');

}

.header2 {
  background-image: url('../img/sssr/fon_sssr.jpg');
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}
.description {
  position: absolute;
  top: 17%;
  margin: auto;
  padding: 2em;
}
.description h1 {
  color: #004666;
  padding-bottom: 0.25em;
}
.description p {
  padding-bottom: 2em;
  color: #004666;
  font-size: 24px;
  width: 100%;
  text-align: left;
  line-height: 1.5;
}
.description button {
  border: 1px solid #F97300;
  background: #F97300;
  color: #fff;
}

/* ****************начало About секции***************** */
.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
.about h1 {
  color: #004666;
  margin: 2em;
}
.about img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.about span {
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
}
.about .desc {
  padding: 2em;
  border-left: 4px solid #10828C;
}
.about .desc h3 {
  color: #10828C;
}
.about .desc p {
  line-height: 2;
  color: #888;
}

/* ****************начало Portfolio секции***************** * */

.portfolio {
  margin: 4em 0;
  position: relative;
}
.portfolio h1 {
  color: #004666;
  margin-top: 2em;
  margin-bottom: 1em;
}
.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
}

/* ****************начало Blog секции***************** */
.blog {
  margin: 4em 0;
  position: relative;
}
.blog h1 {
  color: #004666;
  margin-top: 2em;
  margin-bottom: 1em;
}
.blog .card {
  box-shadow: 0 0 20px #ccc;
}
.blog .card img {
  width: 100%;
  height: 12em;
}
.blog .card-title {
  color: #004666;
}
.blog .card-body {
  padding: 1em;
}
/* ****************начало Team секции***************** */
.team {
  margin: 4em 0;
  position: relative;
}
.team h1 {
  color: #F97300;
  margin: 2em;
}
.team .item {
  position: relative;
}
.team .des {
  background: #F97300;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 93%;
  transition: .3s ease-in-out;
}
.team .item:hover .des {
  height: 100%;
  background: #f973007d;
  position: absolute;
  width: 100%;
  padding: 5em;
  top: 0;
  border-bottom-left-radius: 0;
}

/* ****************начало contact-form секции***************** */
.contact-form {
  margin: 6em 0;
  position: relative;
}
.contact-form h1 {
  padding:  2em 1px;
  color: #F97300;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  background: #F97300;
  color: #fff;
  border: 0;
}
.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}


/* ******************Подвал footer******************** */
/*начало footer секции*/
section#footer {
  /*background: url(../img/footer_new.jpg) no-repeat center center/cover;*/
  height: 100vh; }

.footer {
  background-color: #131313;
  color: #666666;
  padding: 59px 0px; }
  .footer-policy-link {
    font-size: 12px;
    }
  .footer small {
    display: block;
    margin-top: 12px;
    line-height: 16px;
    font-size: 10px;
    max-width: 80%; }
  .copy_small {
    padding-top: 20px;
  }
  .footer a {
    color: #666666;
    text-decoration: none; }
    .footer a:hover {
      color: #fff; }
  .footer p {
    margin-bottom: 14px; }
  .footer ul {
    padding: 0;
    list-style: none; }
    .footer ul li {
      line-height: 32px; }
  .footer-contacts, .footer-social-links {
    text-align: right; }

  .footer-social-description {
    margin-right: 20px !important;
     }

    .footer-contacts_phone {
      font-weight: 400;
      font-size: 20px;
      color: #009adf;
      }
    .footer-contacts_address {
      padding-top: 10px;
    }
    .footer-contacts_address:hover {
      color: #fff;
      cursor: pointer; }
     .footer-contacts_email:hover {
       color: #fff;
       cursor: pointer;
     }
  .footer-social-links li {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
    margin-top: 15px; }

  .footer_button {
    padding-top: 2em;
  }

/* ****************Всплывающие окна***************** */

/* Адаптив для смартфонов с разрешением экрана до 320px */

/* Адаптив для смартфонов от 321px до 480px */

/* Адаптив для айфонов, перевернутых смартфонов
 от 481px до 768px */

/* Адаптив для планшетов, перевернутых смартфонов
 от 769px до 992px */

/* Адаптив для планшетов от 993px до 1200px */
